.table-content{
    width: 60%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	outline: 2px solid #51dce6;
	font-size: 15pt;
}
.table-content th {
	padding: 7px;
	background: #abdfff;
	text-align: center;
	font-size: 14pt;
}
.table-content td {
	padding: 7px;
	text-align: center;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 12pt;
}
.table-content tbody tr:nth-child(even){
	background: #e5f4ff;
}

.form-control {
    width: 150%;
    height: 28px;
    background-color: #fafafa;
    border: 0;
    box-shadow:0 0 3px rgba(0,0,0,0.3);
  }
  .form-control:hover {
    box-shadow:0 0 4px rgba(72, 230, 222, 0.5);
    cursor: text;
  }
  .btn-save {
	padding: 0 13px;
	outline: none;
	border: 1px solid #000000;  
	border-radius: 3px;
	height: 32px;
	font-size: 14px;
	background-color: #abffb2;
	cursor: pointer;
}
.btn-reset:hover{
    color:rgb(238, 52, 52);
}
.removeLink{
    color: red;
}